:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --menu-bg-color: #fff;
  --menu-item-hover-bg-color: #e0e0e0;
  --menu-item-active-bg-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #f5f5f5;
    --menu-bg-color: #555;
    --menu-item-hover-bg-color: #444;
    --menu-item-active-bg-color: #666;
  }
}

.admin-panel {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.left-side-menu {
  flex-basis: 20%;
  background-color: var(--menu-bg-color);
  padding: 20px;
}

.menu-item {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: var(--menu-item-hover-bg-color);
}

.menu-item.active {
  background-color: var(--menu-item-active-bg-color);
}

.right-side-content {
  flex-basis: 80%;
  background-color: var(--menu-bg-color);
  padding: 20px;
}

.btn-logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}
